body {
}

.searchContainer {
    float:right;
}

#MainPageHeader {
    display:inline-block;
}

#MainContent_SearchBtn {
    margin-top:-10px;
}

input[type=submit] {
    border-radius:5px;
    color:#0088CC;
    background-color:#E0E0E0;
}

input[type=submit]:hover {
    border-radius:5px;
    color:#E0E0E0;
    background-color:#808080;
}
.categoryContainer {
    float: left;
    margin-bottom: 30px;
    width: 370px;
    margin-left: 30px;
    height:170px;
   
    overflow:auto;
}
.categoryContainer:after {
    content: " ";
    display: block;
    clear: both; 
}

/*TABLES*/

td {
    border:1px dotted #BBBBBB;
    padding:5px;
}

th {
    padding:5px;
     border:1px dotted #BBBBBB;
     background-color:#EEEEEE;
}

/*FORMS*/
.form {
    display:inline-block;
    padding:20px;
    border:1px dotted #BBBBBB;
}

.form h3{
    background-color:#EEEEEE;
}

.BooksUl {
    list-style-image:url('../img/Book-icon.png')
}