@{
    ViewBag.Title = "Home Page";  
}

<div>
    <button id="joinGame">JoinGame</button>
</div>
<div id="result"></div>

<script>

    $(document).ready(function () {

        $.connection.hub.start();

        var game = $.connection.game;

        $('#joinGame').click(function () {
           game.server.joinGame();
        });

    });

    function joinGameMsg(msg) {
        $('#result').text(msg);
    }

</script>