USE [master]
GO
/****** Object:  Database [UsersCount]    Script Date: 11.9.2013 г. 22:25:12 ******/
CREATE DATABASE [UsersCount]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UsersCount', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\UsersCount.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'UsersCount_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\UsersCount_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UsersCount].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UsersCount]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11.9.2013 г. 22:25:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AllUsersCount] [int] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [AllUsersCount]) VALUES (39, NULL)
INSERT [dbo].[Users] ([Id], [AllUsersCount]) VALUES (40, NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
USE [master]
GO
