body, div, span,h1,h2 {
    margin:0;
    padding:0;
}
body {
    color:#6D6D6D;
}

.sprites {
    background: url(csg-5178052755e8d.png);
}
span {
    display:block;
    margin-left:50%;
}
#wrapper {
    background-color:deepskyblue;
    padding:10px;
    text-align:center;
}
.Categories {
    background-color:skyblue;
    margin-top:1%;
    padding-bottom:10px;
    text-align:center;
    border-radius:5px;
}
.inside {
    width:10%;
    text-align:center;
    margin-left:5%;
    margin-top:1%;
    padding:5px;
    background-color:deepskyblue;
    display:inline-block;
    border-radius:5px;
}
.sprite-comment{background-position: 0 0; width: 16px; height: 16px;} 
.sprite-comment_add{ background-position: -36px 0; width: 16px; height: 16px; } 
.sprite-comment_delete{ background-position: -72px 0; width: 16px; height: 16px; } 
.sprite-comment_edit{ background-position: -108px 0; width: 16px; height: 16px; } 
.sprite-comments{ background-position: -144px 0; width: 16px; height: 16px; } 
.sprite-comments_add{ background-position: -180px 0; width: 16px; height: 16px; } 
.sprite-comments_delete{ background-position: -216px 0; width: 16px; height: 16px; } 
.sprite-folder{ background-position: -252px 0; width: 16px; height: 16px; } 
.sprite-folder_add{ background-position: -288px 0; width: 16px; height: 16px; } 
.sprite-folder_delete{ background-position: -324px 0; width: 16px; height: 16px; } 
.sprite-folder_edit{ background-position: -360px 0; width: 16px; height: 16px; } 
.sprite-group{ background-position: -396px 0; width: 16px; height: 16px; } 
.sprite-group_add{ background-position: -432px 0; width: 16px; height: 16px; } 
.sprite-group_delete{ background-position: -468px 0; width: 16px; height: 16px; } 
.sprite-group_edit{ background-position: -504px 0; width: 16px; height: 16px; } 
.sprite-page_white{ background-position: -540px 0; width: 16px; height: 16px; } 
.sprite-page_white_acrobat{ background-position: -576px 0; width: 16px; height: 16px; } 
.sprite-page_white_actionscript{ background-position: -612px 0; width: 16px; height: 16px; } 
.sprite-page_white_add{ background-position: -648px 0; width: 16px; height: 16px; } 
.sprite-page_white_c{ background-position: -684px 0; width: 16px; height: 16px; } 
.sprite-page_white_camera{ background-position: -720px 0; width: 16px; height: 16px; } 
.sprite-page_white_cplusplus{ background-position: -756px 0; width: 16px; height: 16px; } 
.sprite-page_white_csharp{ background-position: -792px 0; width: 16px; height: 16px; } 
.sprite-page_white_cup{ background-position: -828px 0; width: 16px; height: 16px; } 
.sprite-page_white_delete{ background-position: -864px 0; width: 16px; height: 16px; } 
.sprite-page_white_edit{ background-position: -900px 0; width: 16px; height: 16px; } 
.sprite-page_white_excel{ background-position: -936px 0; width: 16px; height: 16px; } 
.sprite-page_white_php{ background-position: -972px 0; width: 16px; height: 16px; } 
.sprite-page_white_powerpoint{ background-position: -1008px 0; width: 16px; height: 16px; } 
.sprite-page_white_ruby{ background-position: -1044px 0; width: 16px; height: 16px; } 
.sprite-user{ background-position: -1080px 0; width: 16px; height: 16px; } 
.sprite-user_add{ background-position: -1116px 0; width: 16px; height: 16px; } 
.sprite-user_delete{ background-position: -1152px 0; width: 16px; height: 16px; } 
.sprite-user_edit{ background-position: -1188px 0; width: 16px; height: 16px; } 
