
<div id="tabs">
    <ul>
        <li><a href="#tabs-1">Game Description</a></li>
        <li><a href="#tabs-2">Game Rules</a></li>
    </ul>
    <div id="tabs-1">
        <p>Rocks falling from the sky, you must run from them.</p>
    </div>
    <div id="tabs-2">
        <p>With the left and right arrows you move, if rock hits you, you die.</p>
    </div>
</div>

<script>
                $(document).ready(function() {
                    $(function () {
                        $("#tabs").tabs();
                    });
                });
            </script>   