<ul id="treeview">
    <li data-expanded="true">
        <span class="k-sprite folder"></span>
        Simple project that aims to demonstrate:
        <ul>
            <li data-expanded="true">JavaScript libraries usage
                <span ></span>
                <ul>
                    <li><span ></span>KendoUI</li>
                    <li><span ></span>JQuery</li>
                    <li><span ></span>JQueryUI</li>
                    <li><span ></span>UnderscoreJS</li>
                    <li><span ></span>Rsvp</li>
                </ul>
            </li>
            <li data-expanded="true">
                <span ></span>JavaScript OOP
                <ul>
                    <li><span></span>Projeckt structure with a lot of modiles</li>
                    <li><span></span>Simple game made ​​on the principles of OOP(and with very bad styling)</li>
                </ul>
            </li>
            <li><span ></span>HTML5/CSS3</li>
            <li><span ></span>SASS</li>
            <li><span ></span>Responsive Design</li>
        </ul>
    </li>
</ul>

<script>
    $(document).ready(function () {
        $("#treeview").kendoTreeView();
    });
</script>