body,
aside,
section,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
}
body aside {
  border: 1px solid black;
  margin: 0 2%;
}
body aside.left {
  float: left;
  width: 12%;
}
body aside.right {
  float: right;
  width: 20%;
}
body section {
  border: 1px solid black;
  width: 60%;
  margin-left: 16%;
  margin-right: 2%;
}
