body,
div,
article,
aside,
header,
nav,
ul,
li,
a,
p,
span,
strong,
em,
footer,
section,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}
div,
article,
header,
footer,
section,
ul,
li,
h1,
h2,
h3,
h4,
body {
  display: block;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  clear: both;
  display: block;
  height: 0;
  content: "";
}
body {
  font-size: 16px;
  color: #000000;
}
body #wrapper {
  background: #9bc8ff;
}
body #wrapper > header {
  margin-top: 0;
  border-bottom: 1px solid black;
  background: #9bc8ff;
  background: -moz-linear-gradient(top, #87a3ff 35%, #9bc8ff 78%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(35%, #87a3ff), color-stop(78%, #9bc8ff));
  background: -webkit-linear-gradient(top, #87a3ff 35%, #9bc8ff 78%);
  background: -o-linear-gradient(top, #87a3ff 35%, #9bc8ff 78%);
  background: -ms-linear-gradient(top, #87a3ff 35%, #9bc8ff 78%);
  background: linear-gradient(to bottom, #87a3ff 35%, #9bc8ff 78%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#87a3ff', endColorstr='#9bc8ff', GradientType=0);
  zoom: 1;
}
body #wrapper > header:after {
  clear: both;
  display: block;
  height: 0;
  content: "";
}
body #wrapper > header div {
  width: 960px;
  margin: 0 auto;
}
body #wrapper > header div h1 {
  font-size: 2.5em;
  padding: 5px 15px;
}
body #wrapper > header div nav {
  padding: 5px 15px;
  margin-top: 15px;
  float: right;
}
body #wrapper > header div nav ul {
  list-style-type: none;
}
body #wrapper > header div nav ul li {
  display: inline-block;
  border: 1px solid black;
  border-radius: 5px;
}
body #wrapper > header div nav ul li a {
  text-decoration: none;
  color: #000000;
  padding: 5px 15px;
  display: block;
}
body #wrapper > header div nav ul li:hover {
  background-color: rgba(84, 124, 255, 0.7);
}
body #wrapper > aside {
  margin-top: 75px;
  width: 20%;
  min-width: 150px;
}
body #wrapper > aside.left {
  float: left;
}
body #wrapper > aside.right {
  float: right;
}
body #wrapper > aside div {
  width: 140px;
  margin: 0 auto;
  margin-top: 25px;
  border: 1px solid black;
  border-radius: 15px;
  padding: 5px 15px;
  background: #9bc8ff;
  background: -moz-linear-gradient(top, #87a3ff 35%, #9bc8ff 78%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(35%, #87a3ff), color-stop(78%, #9bc8ff));
  background: -webkit-linear-gradient(top, #87a3ff 35%, #9bc8ff 78%);
  background: -o-linear-gradient(top, #87a3ff 35%, #9bc8ff 78%);
  background: -ms-linear-gradient(top, #87a3ff 35%, #9bc8ff 78%);
  background: linear-gradient(to bottom, #87a3ff 35%, #9bc8ff 78%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#87a3ff', endColorstr='#9bc8ff', GradientType=0);
}
body #wrapper > aside div.tag-cloud {
  zoom: 1;
}
body #wrapper > aside div.tag-cloud:after {
  clear: both;
  display: block;
  height: 0;
  content: "";
}
body #wrapper > aside div.tag-cloud ul {
  list-style-type: none;
}
body #wrapper > aside div.tag-cloud ul li {
  display: inline-block;
  float: left;
}
body #wrapper > aside div.tag-cloud ul li a {
  padding: 2px;
}
body #wrapper > aside div h2 {
  font-size: 1.2em;
  text-align: center;
}
body #wrapper > aside div ul {
  margin-left: 15px;
  list-style-type: circle;
}
body #wrapper > aside div ul li a {
  display: block;
  color: #000000;
  text-decoration: none;
}
body #wrapper > aside div ul li:hover a {
  text-decoration: underline;
}
body #wrapper > section {
  padding: 15px;
  width: 59%;
  margin: 0 auto;
}
body #wrapper > section article {
  margin-bottom: 15px;
  border: 1px solid black;
  border-radius: 15px;
  padding: 15px;
  background: #cee4ff;
  background: -moz-linear-gradient(top, #9bc8ff 35%, #cee4ff 78%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(35%, #9bc8ff), color-stop(78%, #cee4ff));
  background: -webkit-linear-gradient(top, #9bc8ff 35%, #cee4ff 78%);
  background: -o-linear-gradient(top, #9bc8ff 35%, #cee4ff 78%);
  background: -ms-linear-gradient(top, #9bc8ff 35%, #cee4ff 78%);
  background: linear-gradient(to bottom, #9bc8ff 35%, #cee4ff 78%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9bc8ff', endColorstr='#cee4ff', GradientType=0);
}
body #wrapper > section article > header h1 {
  font-size: 1.6em;
  font-weight: bold;
  text-align: left;
}
body #wrapper > section article > header h1 a {
  color: #000000;
  text-decoration: none;
}
body #wrapper > section article > header h1:hover a {
  text-decoration: underline;
}
body #wrapper > section article > header p {
  font-size: 0.9em;
  position: relative;
  top: -15px;
}
body #wrapper > section article > header p a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}
body #wrapper > section article > header p a:hover {
  text-decoration: underline;
}
body #wrapper > section article > header p span {
  font-family: Consolas;
  font-size: 0.9em;
}
body #wrapper > section article > div {
  position: relative;
  margin-top: 10px;
  border-bottom: 1px solid black;
}
body #wrapper > section article > div p {
  margin-top: 5px;
  text-align: justify;
  text-overflow: ellipses;
  position: relative;
  z-index: 0;
}
body #wrapper > section article > div a {
  text-decoration: none;
  color: #000000;
}
body #wrapper > section article > div a.btn-read-more {
  display: none;
}
body #wrapper > section article > div a:hover {
  text-decoration: underline;
}
body #wrapper > section article > footer ul {
  list-style-type: none;
}
body #wrapper > section article > footer ul li {
  display: inline-block;
}
body #wrapper > section article > footer ul li a {
  text-decoration: none;
  color: #000000;
  font-size: 0.8em;
}
body #wrapper > section article > footer ul li a[rel=tag]:after {
  content: ", ";
}
body #wrapper > section article > footer ul li a[rel=tag]:last-of-type:after {
  content: "";
}
body #wrapper > section article > footer ul li a:hover {
  text-decoration: underline;
}
body #wrapper > footer {
  margin: 0 auto;
  text-align: center;
  background: #68acff;
  background: -moz-linear-gradient(top, #9bc8ff 35%, #68acff 78%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(35%, #9bc8ff), color-stop(78%, #68acff));
  background: -webkit-linear-gradient(top, #9bc8ff 35%, #68acff 78%);
  background: -o-linear-gradient(top, #9bc8ff 35%, #68acff 78%);
  background: -ms-linear-gradient(top, #9bc8ff 35%, #68acff 78%);
  background: linear-gradient(to bottom, #9bc8ff 35%, #68acff 78%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9bc8ff', endColorstr='#68acff', GradientType=0);
}
body #wrapper > footer h2 {
  font-size: 1.7em;
}
@media only screen and (max-width: 1024px) {
  body #wrapper > section article > header p {
    position: static;
    top: 0;
    float: none;
  }
}
@media only screen and (max-width: 960px) {
  body #wrapper {
    width: 100%;
  }
  body #wrapper > header div {
    width: 79%;
  }
  body #wrapper > aside {
    margin-left: 0;
    margin-right: 0;
  }
  body #wrapper > aside.right,
  body #wrapper > aside.left {
    float: left;
    clear: left;
  }
  body #wrapper > aside.right {
    margin-top: 0;
  }
  body #wrapper > section {
    margin-left: 175px;
    margin-right: 0;
    width: auto;
  }
  body #wrapper > section article > header p {
    font-size: 0.9em;
    float: none;
    position: static;
  }
}
@media only screen and (max-width: 640px) {
  body #wrapper > aside {
    display: none;
  }
  body #wrapper > section {
    margin-left: 15px;
    margin-right: 15px;
    width: 90%;
  }
}
@media only screen and (max-width: 480px) {
  body #wrapper > header div {
    width: 100%;
  }
  body #wrapper > header div nav {
    float: none;
  }
  body #wrapper > header div nav ul {
    padding: 0 10%;
  }
  body #wrapper > header div nav ul li {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-radius: 5px;
    text-align: center;
    font-size: 1.4em;
    border-collapse: collapse;
  }
  body #wrapper > header div nav ul li:first-of-type {
    border-top-width: 2px;
  }
  body #wrapper > header div nav ul li:last-of-type {
    border-bottom-width: 2px;
  }
  body #wrapper > section {
    margin: 0 auto;
  }
  body #wrapper > section article {
    height: 300px;
    display: block;
    position: relative;
  }
  body #wrapper > section article div {
    height: 200px;
    overflow: hidden;
    border: none;
  }
  body #wrapper > section article div p {
    height: 100%;
    overflow: hidden;
    text-overflow: ellipses;
  }
  body #wrapper > section article div a.btn-read-more {
    float: right;
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: white;
  }
  body #wrapper > section article footer {
    border-top: 1px solid black;
    position: absolute;
    bottom: 15px;
  }
}
