    <div id="singleUserContainer">
        <a href="\#/users" id="singleUserBackBtn"><img src="../../imgs/back.ico" width="80" height="80"/></a>
        <p>Nickname : <strong data-bind="text: nickname"></strong><img src="../../imgs/anonymous.png" width="50" height ="40"/></p>
        <p>Gender : <strong data-bind="text: gender"></strong> <img data-bind="attr: {src:img,alt:gender}" width="36" height ="30"/></p>
        <p>Email : <strong data-bind="text: email"></strong><img src="../../imgs/email.ico" width="56" height ="40"/></p>
    </div>