<?xml version="1.0"?>
<configuration>
  <location path="EditCategories">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="EditBooks">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
    <system.web>
      <httpRuntime requestValidationMode="2.0"/>
      <pages validateRequest="false"/>
    </system.web>
</configuration>
