/*
CSS Credit: http://www.templatemo.com
*/

body {
	margin: 0;
	padding: 0;
	line-height: 1.7em;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #ffffff;
    background: #1f1d1b;
}
		
a:link, a:visited { color: #fad40d; font-size:12px; text-decoration: none; font-weight: normal; } 
a:active, a:hover { color: #99FF00; font-size:12px; text-decoration: underline; }

p { margin: 0px; padding: 0px; text-align: justify; }

img { margin: 0px; padding: 0px; border: none; }

.cleaner { clear: both; width: 100%; height: 0px; font-size: 0px;  }

.cleaner_h10 { clear: both; width:100%; height: 10px; }
.cleaner_h20 { clear: both; width:100%; height: 20px; }
.cleaner_h30 { clear: both; width:100%; height: 30px; }
.cleaner_h40 { clear: both; width:100%; height: 40px; }
.cleaner_h50 { clear: both; width:100%; height: 50px; }
.cleaner_h60 { clear: both; width:100%; height: 60px; }

.fl { float: left; }
.fr { float: right; }

.margin_r_10 { margin-right: 10px; }

.margin_r_20 { margin-right: 20px; }

.button_02 a {
	display: inline-block;
	padding: 2px 5px;
	color: #ffffff;
	font-size: 12px;
	font-weight: normal;
	text-align: center;
	text-decoration: none;
	background: #201f1a;
}

.button_02 a:hover {
	background: #94591a;
	color: #ffffff;
}

h1 {
	margin: 0px;
	padding: 2px 0;
	font-size: 30px;
	font-weight: bold;
}

h2 {
	margin: 0 0 10px 0;
	padding: 2px 0;
	font-size: 24px;
	line-height: 24px;
	font-weight: bold;
	color: #fad40d;
}

h3 {
	margin: 0 0 10px 0;
	padding: 10px 0;
	font-size: 18px;
	font-weight: normal;
	color: #fad40d;
	border-bottom: 1px solid #333;
}

h4 {
	margin: 0 0 0 0;
	padding: 2px 0;
	font-size: 14px;
	font-weight: bold;
	color: #000000;
}

.image_wrapper {
	margin-top: 3px;
	margin-bottom: 5px;
}

.fl_image {
	float: left;
	margin-right: 30px 
}

.fr_image {
	float: right;
	margin-left: 20px 
}

/* site title */

#templatemo_top_panel_wrapper_outter {
	width: 100%;
	height: 210px;
	background: url(../imgs/templatemo_top_panel_bg_wrapper_inner.jpg) top repeat-x;
	
}

#templatemo_top_panel_wrapper_inner {
	width: 100%;
	height: 210px;
	margin: 0 auto;	
	background: url(../imgs/templatemo_top_panel_bg_wrapper_outer.jpg) top center no-repeat;
}

#templatemo_top_panel {
	width: 980px;
	height: 210px;
	margin: 0 auto;
	background: url(../imgs/templatemo_top_panel_bg.jpg) top center no-repeat;
}

#templatemo_top_panel #templatemo_menu {
	padding: 12px 0 0 0;
	height: 38px;
}

#templatemo_top_panel #templatemo_banner {
	clear: both;
	height: 160px;
}

#templatemo_banner  #site_title {
	float: left;
	width: 940px;
	padding: 40px 0 0 0;
	text-align: center;
}

#site_title h1 a {
	margin: 0px;
	padding: 0px;
	font-size: 24px;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
}

#site_title h1 a:hover {
	font-weight: bold;	
	text-decoration: none;
}

#site_title h1 a span {
	display: block;
	margin-left: 3px;
	margin-top: 2px;
	font-size: 14px;
	color: #FFFFFF;
	font-weight: normal;
	letter-spacing: 4px;
}

#site_title h1 a:hover span {
	font-weight: normal;
}
/* end of site title */

/* content */

#templatemo_content_wrapper {
	clear: both;
	width: 100%;
	margin: 0 auto;
	background: url(../imgs/templatemo_content_bg_wrapper.jpg) center top no-repeat;
}

#templatemo_content {
	width: 980px;
	margin: 0 auto;
	background: url(../imgs/templatemo_content_bg.jpg) center top no-repeat;
}

#templatemo_popular_posts {
	clear: both;
	width: 900px;
	height: 200px;
	overflow: hidden;
	padding: 50px 40px 40px 40px;
	margin-bottom: 10px;
	background: none;
}

#templatemo_main_coontent {
	clear: both;
	width: 980px;
	background: url(../imgs/templatemo_content_box_middle.png) center repeat-y;
}

#templatemo_main_content_top {
	clear: both;
	width: 980px;
	height: 14px;
	background: url(../imgs/templatemo_content_box_top.png) bottom center no-repeat;
}

#templatemo_main_content_bottom {
	clear: both;
	width: 980px;
	height: 14px;
	background: url(../imgs/templatemo_content_box_bottom.png) top center no-repeat;
}

#templatemo_main_coontent #main_column {
	float: left;
	width: 650px;
	padding: 20px 0;
}

#templatemo_main_coontent #side_column {
	float: right;
	width: 250px;
	margin-right: 20px;
	padding: 20px 15px;	
}

#main_column .post_box {
	clear: both;
	margin-bottom: 40px;
}

.post_box .date_box {
	float: left;
	width: 152px;
	height: 43px;
	margin-right: 10px;
	color: #ffffff;
	background: url(../imgs/templatemo_date_bg.png) top left no-repeat;
}
.post_box .date_box p {
	padding: 13px 0 0 20px;
	font-size: 14px;
	font-weight: bold;
}

.post_box .post_body {
	float: left;
	width: 480px;
	padding: 10px 0 20px 0;
	border-bottom: 1px dashed #000;
	margin-bottom: 20px;
}

.post_body h2 a {
	font-weight: bold;
	font-size: 26px;
}

.post_body h2 a:hover {
	text-decoration: none;
}

.post_body p {
	margin-bottom: 20px;
}

.post_info {
	font-size: 14px;
	margin-bottom: 20px;
}

.post_info a {
	color: #ffffff;
	padding: 0 2px;
	background: #5b5952;
}

.post_info a:hover {
	color: #000000;
 	background: #fad40d;	
	text-decoration: none;
}

.post_content img {
	border: 5px solid #817970;
	margin-bottom: 10px;
	background: #fffff;
}

.post_content .link_button a {
	display: inline-block;
	padding: 1px 5px;
	margin-right: 10px;
	margin-top: 10px;
	color: #ffffff;
	background: #675d52;
	text-decoration: none;
}

.post_content .link_button a:hover {
	color: #000000;
 	background: #fad40d;
}

.side_column_section {
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px dashed #333;
}

.side_menu {
	padding: 0px;
	margin: 0px;
	list-style: none;
}

.side_menu li {
	margin: 0px;
	padding: 2px 0;
	border-bottom: 1px dashed #666;
}

.side_menu li a {
	color: #000000;
}

.side_menu li a:hover {
	color: #fad40d;
	text-decoration: none;
}

.recent_post {
	color: #383737;
	margin-bottom: 5px;
	border-bottom: 1px dashed #666;
}

.recent_post h4 a {
	margin: 0 0 0 0;
	padding: 2px 0;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
}

.recent_post h4 a:hover {
	color: #99FF00;
}

/* end of content */

/* footer */

#templatemo_footer_wrapper {
	width: 100%;
	margin: 0 auto;
	margin-top: 40px;
	background: #11100f url(../imgs/templatemo_footer_top.jpg) top repeat-x;
}

#templatemo_footer {
	width: 980px;
	margin: 0 auto;
	padding: 40px 0;
	color: #54514f;
}

#templatemo_footer .section_w200 {
	float: left;
	width: 200px;
	padding-left: 25px;
	padding-right: 20px;
}

#templatemo_footer .section_w200 h4 {
	color: #FF6600;
	margin: 0 0 10px 0;
	padding: 3px 0;
}

#templatemo_footer p {
	margin-bottom: 10px;
}

.footer_list_menu {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.footer_list_menu li {
	margin: 0px;
	padding: 3px 0;
}

.footer_list_menu li a {
	color: #54514f;
}

.footer_list_menu li a:hover {
	color: #FF6600;
	text-decoration: none;
}

.section_rss_twitter a {
	display: block;
	width: 200px;
	padding: 20px 0 0 0;
	font-size: 16px;
	font-weight: bold;
	color: #37362f;	
	margin-bottom: 20px;
}

.section_rss_twitter a:hover {
	color: #FF6600;
	text-decoration: none;	
}

.section_rss_twitter a span {
	font-size: 12px;
	margin-top: 5px;
	display: block;
	letter-spacing: 5px;
}

.rss a {
	background: url(../imgs/rss_icon.png) right bottom no-repeat;
}

.twitter a {
	background: url(../imgs/twitter_icon.png) right bottom no-repeat;
}

/* end of footer -->


<!--
/** 
 * Slideshow style rules.
 */
#slideshow {
	margin:0 auto;
	width: 900px;
	height: 200px;
	position:relative;
}
#slideshow #slidesContainer {
  margin:0 auto;
  width: 750px;
  height: 200px;
  overflow:auto; /* allow scrollbar */
  position:relative;
}
#slideshow #slidesContainer .slide {
  width: 680px; /* reduce by 20 pixels of #slidesContainer to avoid horizontal scroll */
  height: 200px;
  margin:0 auto;  
}

.slide img {
	float:left;
	margin-right: 40px;
	border:1px solid #4f4b42;
}

#slideshow #slidesContainer .slide a:hover {
	text-decoration: none;
}

#slideshow #slidesContainer .slide a p {
	color: #ffffff;
}

/** 
 * Slideshow controls style rules.
 */
.control {
  display:block;
  width: 30px;
  height: 50px;
  text-indent:-10000px;
  position:absolute;
  cursor: pointer;
}
#leftControl {
  top: 85px;
  left:0;
  background:transparent url(../imgs/slider_left_control.png) no-repeat 0 0;
}
#rightControl {
  top: 85px;
  right:0;
  background: transparent url(../imgs/slider_right_control.png) no-repeat 0 0;
}