USE [master]
GO
/****** Object:  Database [TextFilesFromZip]    Script Date: 21.9.2013 г. 21:45:39 ******/
CREATE DATABASE [TextFilesFromZip]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TextFilesFromZip', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\TextFilesFromZip.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TextFilesFromZip_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\TextFilesFromZip_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TextFilesFromZip].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TextFilesFromZip]
GO
/****** Object:  Table [dbo].[TextFiles]    Script Date: 21.9.2013 г. 21:45:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TextFiles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FileName] [nvarchar](300) NOT NULL,
	[FileContent] [nvarchar](max) NULL,
 CONSTRAINT [PK_TextFiles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[TextFiles] ON 

INSERT [dbo].[TextFiles] ([Id], [FileName], [FileContent]) VALUES (3, N'TestZipFile/moreText.txt', N'more text')
INSERT [dbo].[TextFiles] ([Id], [FileName], [FileContent]) VALUES (4, N'TestZipFile/text.txt', N'just some text')
SET IDENTITY_INSERT [dbo].[TextFiles] OFF
USE [master]
GO
