body {
}

.menuItem {
    margin: 10px;
    font-size: 18px;
}

    .menuItem ul ul {
        background-color: #1b1b1b;
    }

        .menuItem ul ul a {
            margin-left: 13px;
            margin-right: 13px;
            padding: 20px;
        }

.usersRating {
    width: auto;
}

/*.newsItem {
    margin-bottom: 80px;
    max-width: 800px;
    display: block;
    position: relative;
}

    .newsItem:last-of-type {
        margin-bottom: 0px;
    }

.newsImage {
    float: left;
}*/

/*AllTopics*/
#AllTopicsUl {
    list-style-image: url('Images/middleFinger2.png');
}

#TopicsContainer {
}

#AnswersUl {
    list-style-image: url('Images/Fist.png');
}

.mainContent h1
{
    padding: 10px;
    border: 1px solid #8A8A8A;
}

/*.mainContent ul li {
    border-bottom: 1px solid #CCCCCC;
    overflow: hidden;
    word-wrap: break-word;
    padding: 10px;
}

    .mainContent ul li:hover {
        background-color: #e0e0e0;
    }

    .mainContent ul li article a {
        font-weight: bold;
    }

    .mainContent ul li article img {
        margin: 5px;
        -moz-box-shadow: 1px 1px 1px 2px #ccc;
        -webkit-box-shadow: 1px 1px 1px 2px #ccc;
        box-shadow: 1px 1px 1px 2px #ccc;
    }*/


/*#CurrentTopicPosts {
    background-image:url('Images/Wallpaper-hate.jpg');
    background-position:30px 0;
    background-repeat:no-repeat;
}*/

/*body {
    color:white;
    background-image:url('Images/hate-background.jpg')
}*/
